
@tailwind base;
@tailwind components;
@tailwind utilities;

html { scroll-behavior: smooth; }

body {
  font-family: 'Futura', 'Jost', sans-serif; 
  background-color: #ffffff;
  color: #111;
  -webkit-font-smoothing: antialiased;
  font-weight: 300;
}

.no-scrollbar::-webkit-scrollbar { display: none; }
.no-scrollbar { -ms-overflow-style: none; scrollbar-width: none; }
